@charset "UTF-8";
@import "inc/bootstrap";

.tao-xml-editor {
    position: relative;
    .ace_editor.tao-ace-editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .ace_layer div{
            white-space:pre;
        }
    }
}

.custom-rp-editor-container{
    h2 {
        margin-top:0;
    }
    .tao-xml-editor.custom-rp-editor{
        border : 1px solid $uiGeneralContentBorder;
        margin-bottom : 20px
    }
}

.tao-xml-editor.qti-creator-source{
    position: absolute;
}